body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: rgb(252, 252, 253);
}
header{
    height: 7em;
    background: rgb(23,23,25);
    background-size: 100% 100%;
    border-bottom: 1px solid rgb(200,181,142);
    color: rgb(200,181,142);
    padding:2em;
    letter-spacing: 0.1em;
}
.container .wire {
    display: block;
    border-bottom: 2px solid rgb(127,128,128);
    width: 2em;
    margin: 2em auto 0.5em;
}
.container p{
    font-weight: 200;
    letter-spacing: 0.1em;
    margin:1em auto;
    font-size: 0.1em;
}
.container .mad{
    border:1px solid rgb(200,181,142);
    height: 27.8em;
    margin:0.3em;
}
.container .mad1{
    padding: 0.5em 1em;
    overflow-y: scroll;;
    overflow-x: hidden; 
}
.container .mad2{
    padding:1em;
}
.container .mad .btn,
#md .btn{
    color: rgb(252, 252, 253);
}
.container .mad .btn1{
    background-color: rgb(171,110,73);
    border-radius: 1em;
    padding: 0 0.5em;
}
.container .mad .btn2{
    background-color: rgb(229,0,79);
    border-radius: 1em;
    padding: 0 0.5em;
}
.container .content{
    margin-bottom: 2em;
}
/*轮播大图样式*/
.mad2 .bx-wrapper .bx-prev{
    left: 10px;
    background: url(../img/aboutus/controls.png) no-repeat 0 -32px;
}
.mad2 .bx-wrapper{
    left: 5px;
}
.mad2 .bx-wrapper .bx-next{
    background: url(../img/aboutus/controls.png) no-repeat -43px -32px;
    right: 20px;
}
.mad2 .bx-wrapper .bx-viewport{
    box-shadow: none;
    border:none;
    background: none;
}
/*轮播小图样式*/
.lunbo-br .bx-wrapper .bx-prev{
    left: -55px;
    background: url(../img/aboutus/controls.png) no-repeat 0 -32px;
}
.lunbo-br .bx-wrapper{
    left: 5px;
    margin-right: 8.5em;
}
.lunbo-br .bx-wrapper .bx-next{
    background: url(../img/aboutus/controls.png) no-repeat -43px -32px;
    right: -40px;
}
.lunbo-br .bx-wrapper .bx-viewport{
    box-shadow: none;
    border:none;
    background: none;
}
.bx-wrapper .bx-controls-direction a{
    z-index: 20;
}
.container .row .slider4 img{
    cursor: pointer;
}